<ion-content>


  <h1>Speiseplan</h1>

  <div id="container">
      <div class=“box“>


    <ion-card *ngFor="let gericht of hauptgerichte" class="Karte">
      <ion-card-header>
        <ion-img class="Bild" src="{{ gericht.ImagePfad }}"></ion-img>
        <ion-card-title class="Text">{{ gericht.Bezeichnung }}</ion-card-title>
        <ion-card-subtitle class="Text">{{ gericht.Kategorie }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="Preis">
        {{ gericht.Preis | currency:'EUR':true }}
      </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let gericht of beilagen" class="Karte">
      <ion-card-title class="Text">{{ gericht.Bezeichnung }}</ion-card-title>
      <ion-card-content class="Preis">{{ gericht.Preis | currency:'EUR':true }}</ion-card-content>
    </ion-card>

  </div>
  </div>



</ion-content>